<a href="https://colab.research.google.com/github/Sourpatil123/Learn_Python/blob/main/14AugustBesantClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
sales = [250,400,150,800,1200,300]
sales

[250, 400, 150, 800, 1200, 300]

In [7]:
total_sales = sum(sales)
total_sales

heighest_sale = max(sales)
heighest_sale

lowest_sales = min(sales)
lowest_sales

avg_sales = total_sales/len(sales)
avg_sales

516.6666666666666

In [8]:
# remove duplicates without changing order

cust = ['amit','priya','amit','kiran','priya']
u_cust = []
for i in cust:
  if i not in u_cust:
    u_cust.append(i)

u_cust

['amit', 'priya', 'kiran']

In [10]:
data = [1,2,2,3,4,4,5]

u_val =[]
for i in data:
  if i not in u_val:
    u_val.append(i)
u_val

[1, 2, 3, 4, 5]

In [12]:
data = [1,2,2,3,4,4,5]
d1 = set(data)
d1
list(d1)

[1, 2, 3, 4, 5]

In [15]:
ps = {'amithana','giri','lakshmi','rishab'}
sq = {'nanditha','lakshmi','giri'}

for i in ps:
  if i in sq:
    print(i)

# only in ps

for i in sq:
  if i not in ps:
    print(i)

# only in sq

for i in ps:
  if i not in sq:
    print(i)

giri
lakshmi
nanditha
amithana
rishab

In [16]:
ps & sq

{'giri', 'lakshmi'}

In [17]:
sq - ps

{'nanditha'}

In [18]:
ps - sq

{'amithana', 'rishab'}

In [21]:
d1 = {'hr' : 5, 'it':10}
d2 = {'fin':3, 'it':12}

# merge two dictionary

d3 = {**d1,**d2}
d3

{'hr': 5, 'it': 12, 'fin': 3}

In [22]:
merg = d1.copy()
merg.update(d2)
merg

{'hr': 5, 'it': 12, 'fin': 3}

In [23]:
origional = {'a':1, 'b':2, 'c':3}
# o/p - {1:'a', 2:'b', 3:'c'}

inverted = {v:k for k,v in origional.items()}
inverted

{1: 'a', 2: 'b', 3: 'c'}

In [24]:
str = 'python is very is to learn'
str.replace(' ', '')

'pythonisveryistolearn'

In [28]:
sal = [3500,5000,4500,6000,2500]
# top 3 salaries
asc = sal.sort()
asc

In [30]:
desc = sorted(sal, reverse=True)[:3]
desc

[6000, 5000, 4500]