<a href="https://colab.research.google.com/github/Sourpatil123/Learn_Python/blob/main/23JulyBesantClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# factorial number
n = int(input("enter number"))
factorial = 1
i = 1
while(i <= n):
  factorial *= i
  i += 1
print(factorial)

enter number4
24

In [ ]:
n = int(input("enter number"))
factorial = 1
for i in range(1, n+1):
  factorial *= i
print(factorial)

enter number4
24

In [ ]:
for i in range(0,6,1):

    print("* " * i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
# even series 0 to 20
count = 0
for i in range(2, 20, 2):
  print(i, end=" ")
  count += 1
print("\ncount is : ", count)

2 4 6 8 10 12 14 16 18
count is :  9

In [ ]:
for i in range(1,10,1):
  if(i % 2 == 0):
    print(i, " even")
  else:
     (print(i, " odd"))

1  odd
2  even
3  odd
4  even
5  odd
6  even
7  odd
8  even
9  odd

In [ ]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j, end=" ")
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
# for i in range () : outer Loop
#   for j in range(): inner loop
#     statement of inner Loop
#     statement of outer loop

In [ ]:
for i in range (1, 6):
  for j in range(i):
    print(i , end =" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5