<a href="https://colab.research.google.com/github/Sourpatil123/Learn_Python/blob/main/25JulyBesantClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# write a program to print single table 1 to 5

for i in range(1, 10, 1):
  print("i = " , i)
  for j in range(1, 6, 1):
    print(i*j, end= "\t")
  print()

i =  1
1	2	3	4	5
i =  2
2	4	6	8	10
i =  3
3	6	9	12	15
i =  4
4	8	12	16	20
i =  5
5	10	15	20	25
i =  6
6	12	18	24	30
i =  7
7	14	21	28	35
i =  8
8	16	24	32	40
i =  9
9	18	27	36	45

In [19]:

for i in range(1,6,1):
  for j in range(1,6,1):
    if((i*j) % 2 == 0):
      print(i*j, end ="\t")
    else:
      print(" ", end="\t")

  print()

 	2	 	4
2	4	6	8	10
 	6	 	12
4	8	12	16	20
 	10	 	20

In [21]:
for i in range(1,6,1):
  for j in range(5,i,-1):
    print(" ", end="")
  for k in range(1, i+1,1):
    print("*", end=" ")
  print()

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
# nested while loop

# while(cond of outer loop):
#   inta inner loop
#   while(cond of inner loop):
#     statement of outer loop
#     inc/dec inner loop
#   statement of iouter loop
#   inc/dec outer loop

In [22]:
i = 1
while(i <= 5):
  j = 1
  while(j <= i):
    print(j, end=" ")
    j += 1
  print()
  i += 1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5