<a href="https://colab.research.google.com/github/Sourpatil123/Learn_Python/blob/main/Aug11DataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Types of DS Multivalues variable
# list
# tuple
# set
# dictionary(dict)

In [2]:
# list
# list() - function
# list[] - declaration

l1 = [1,"python",2.5,'true']
l1

[1, 'python', 2.5, 'true']

In [3]:
for i in l1:
  print(i)

1
python
2.5
true

In [10]:
for i in enumerate(l1):
  print(i)
  print(f"index {i[0]} and value {i[1]}")

(0, 1)
index 0 and value 1
(1, 'python')
index 1 and value python
(2, 2.5)
index 2 and value 2.5
(3, 'true')
index 3 and value true

In [13]:
for i in range(len(l1)):
  print(i, l1[i])

0 1
1 python
2 2.5
3 true

In [16]:
# functions in list
l2 = [1,'python',56.9,True,34,'excel',False, 28]

In [19]:
# print even index value
for i in range(len(l2)):
  if(i % 2 == 0):
    print(l2[i])

1
56.9
34
False

In [20]:
# printno of elements in list
print(len(l2))

8

In [24]:
# replace true value by India
l2[3] = 'india'
l2

[1, 'python', 56.9, 'india', 34, 'excel', False, 28]

In [29]:
# remove
l2.pop(5)

28

In [31]:
l2

[1, 'python', 56.9, 'india', 34]

In [32]:
l2.remove(56.9)

In [33]:
l2

[1, 'python', 'india', 34]

In [34]:
l2.append('pqr')
l2

[1, 'python', 'india', 34, 'pqr']

In [35]:
l2.insert(2,5)
l2

[1, 'python', 5, 'india', 34, 'pqr']