<a href="https://colab.research.google.com/github/Sourpatil123/Learn_Python/blob/main/Aug12BesantClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
l1 = []
for i in range(1,21):
  l1.append(i)

l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [9]:
naturalal = []
even = []
odd = []
prime = []

for i in range(0,21,1):
  naturalal.append(i)
  if i % 2 == 0:
    even.append(i)
  else:
    odd.append(i)

  for j in range(2,i,1):
    if i % j == 0:
      break
    else:
     prime.append(i)

print(naturalal)
print(even)
print(odd)
print(prime)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[3, 5, 5, 5, 7, 7, 7, 7, 7, 9, 11, 11, 11, 11, 11, 11, 11, 11, 11, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 15, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19]

In [14]:
#vowel list and consonent list
str = 'sourabh'
vowels = []
consonets = []

for i in str:
  if i == 'a' or i == 'e' or i == 'i' or i == 'o'or i == 'u':
    vowels.append(i)
  else:
    consonets.append(i)

print(vowels)
print(consonets)

['o', 'u', 'a']
['s', 'r', 'b', 'h']

In [ ]:
# list is ordered
# list is mutable
# list allows duplicates
# hetrogeneous data

In [ ]:
# # Tuple
# tuple is function
# we initilize using ()

In [15]:
t1 = (23,'mango',45.7,False,98)

In [16]:
t1[2]

45.7

In [17]:
for i in t1:
  print(i)

23
mango
45.7
False
98

In [18]:
# it is ordered
# it is immutable
# allow duplicates
# hetrogeneous data

TypeError: 'tuple' object does not support item assignment